itsucks-core/src/main/resources/BaseJobSchema.xsd

<?xml version="1.0"?>
<xs:schema 
	targetNamespace="http://itsucks.sourceforge.net/ItSucksJobSchema"
	xmlns:itsucks="http://itsucks.sourceforge.net/ItSucksJobSchema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:complexType name="serializedJob" abstract="true">
		
		<xs:sequence>
		
			<xs:element name="name" type="xs:string" />
			<xs:element name="state" type="xs:integer" />
			<xs:element name="priority" type="xs:integer" />
		
			<!-- TODO parameter -->
		</xs:sequence>
		
		<xs:attribute name="id" type="xs:integer" />
	</xs:complexType>
	

	
	
</xs:schema>